<h1 style="text-align: center;">Solution for Assignment 12</h1>
<br><br>

<form>

    <div style="display: flex; justify-content: center;">
        <div style="display: flex; align-items: center; gap: 1rem;">

            <div>
                <div style="color: pink;">
                    <h1 style="text-align: center;">Contact Our</h1>
                </div>
                <div style="color: black;">
                    <h1>Customer Support Center</h1>
                </div>
            </div>

            <div>
                <img src="laptop.png" style="width: 300px; height: auto;">
            </div>
        
        </div>
    </div>

    <br><br>

    <div style="text-align: center;">
        <h3>Contact Information</h3>
    </div>

    <div style="text-align: center;">
        <h4>Please fill out your contact information below.</h4>
    </div>

    <div class="mb-3" style="display: flex; gap: 2rem; align-items: flex-start;">
        <div>
            <label class="form-control" style="display: inline-block; border: none;">
                First Name <span style="color: red;">*</span>
            </label>
            <input type="text" class="form-control" placeholder="Enter your first name" required>
            <label>First Name</label>
        </div>
        <div>
            <label class="form-control" style="display: inline-block; border: none;">
                Last Name <span style="color: red;">*</span>
            </label>
            <input type="text" class="form-control" placeholder="Enter your last name" required>
            <label>Last Name</label>
        </div>
    </div>
    
    <div class="mb-3">
    <label class="form-control" style="display: inline-block; border:none;">Email
        <span style="color: red;">*</span>
    </label>
    <input type="email" class="form-control" placeholder="name@example.com" required>
    </div>
    
    <div class="mb-3">
        <label class="form-control" style="display: inline-block; border:none;">Phone
            <span style="color: red;">*</span>
        </label>
        <input type="number" class="form-control" placeholder="Enter phone number here" required>
    </div>

    <div class="mb-3">
        <label class="form-control" style="display: inline-block; border:none;">Address
            <span style="color: red;">*</span>
        </label>
        <input type="text" class="form-control" placeholder="Enter your address" required>
    </div>


</form>
